@import "selection";

.no-cosmetics-wrap {
  font-size: 20px;
  margin: 1em 12px;
}

.cosmetic-name {
  font-size: 20px;
  margin: 1em 12px;
}

.brand-name,
.category-name {
  display: inline-block;
  font-size: 12px;
  margin: 0 12px;
}

.ingredients-wrap {
  ul {
    margin: 8px 0;
    padding: 0 18px;
    list-style: none;

    li {
      padding: 6px;
      border-bottom: solid;
      border-width: 1px;
      border-color: $super_light_gray;
      &:last-child {
        border-bottom: none;
      }
    }
  }

  .show-ingredients-button {
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    margin: 0 12px;
    padding: 6px;
    border: solid;
    border-width: 1px;
    border-color: $light_gray;
    border-radius: 17px;
  }
}
