@import "selection";

.cosmetics-index-wrap {
  .search-form-wrap {
    background-color: $super_light_gray;

    .search-form {
      margin: 15px;
    }

    .search-field {
      display: inline-block;
      width: 70%;
      border: solid 1px $gray;
      padding: 8px;
      border-radius: $round;
    }

    .search-submit {
      display: inline-block;
      margin-left: 10px;
      padding: 8px;
      width: 25%;
      background-color: $pink;
      color: $white;
      border: none;
      border-radius: $round;

      &:hover {
        opacity: 0.5;
      }
    }
  }

      .similar-cosmetic-similarity {
        position: absolute;
        right: 0;
        display: inline-block;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }

  .show-more-similar-cosmetics-button {
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    margin: 0 12px;
    padding: 6px;
    border: solid;
    border-width: 1px;
    border-color: $light_gray;
    border-radius: 17px;
  }
}

.ingredients-wrap {
  ul {
    margin: 8px 0;
    padding: 0 18px;
    list-style: none;

    li {
      padding: 6px;
      border-bottom: solid;
      border-width: 1px;
      border-color: $super_light_gray;

      &:last-child {
        border-bottom: none;
      }
    }
  }

  .show-ingredients-button {
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    margin: 0 12px;
    padding: 6px;
    border: solid;
    border-width: 1px;
    border-color: $light_gray;
    border-radius: 17px;
  }
}
