@import "layout";

.title-wrap {
  margin: 15px;
  font-size: 20px;
}

.signin-form-wrap {
  margin: 15px;

  p {
    margin: 15px auto;
    width: 300px;
    text-align: center;
    font-size: 14px;
  }

  .email-text-field,
  .password-field {
    width: 100%;
    margin-bottom: 15px;
    border: solid 1px $gray_text_color;
    padding: 8px;
    border-radius: $round;
  }

  .signin-submit {
    width: 100%;
    background-color: $pink;
    color: $white;
    padding: 8px;
    border: none;
    border-radius: $round;

    &:hover {
      opacity: 0.5;
    }
  }

  .signup-link-button {
    width: 100%;
    background-color: $bg_gray;
    padding: 8px;
    border: none;
    border-radius: $round;
    text-align: center;

    a {
      color: $text_color;
      text-decoration: none;
    }

    &:hover {
      opacity: 0.5;
    }
  }
}
