@import "layout";

.title-wrap {
  margin: 15px;
  font-size: 20px;
}

.form-wrap {
  margin: 15px;

  p {
    margin: 15px auto;
    width: 300px;
    text-align: center;
    font-size: 14px;
  }
}

.user-name-text-field,
.email-text-field,
.password-field,
.password-confirmation-field {
  width: 100%;
  margin-bottom: 15px;
  border: solid 1px $gray_text_color;
  padding: 8px;
  border-radius: $round;
}

.submit-button {
  width: 100%;
  background-color: $pink;
  color: $white;
  padding: 8px;
  border: none;
  border-radius: $round;

  &:hover {
    opacity: 0.5;
  }
}

.link-button {
  width: 100%;
  background-color: $bg_gray;
  padding: 8px;
  border: none;
  border-radius: $round;
  text-align: center;

  a {
    display: block;
    color: $text_color;
    text-decoration: none;
  }

  &:hover {
    opacity: 0.5;
  }
}

.profile-edit-button,
.signout-button {
  margin: 15px 15px 0 15px;
  background-color: $bg_gray;
  padding: 8px;
  border: none;
  border-radius: $round;
  text-align: center;

  a {
    display: block;
    color: $text_color;
    text-decoration: none;
  }

  &:hover {
    opacity: 0.5;
  }
}
