.brands-index-wrap
  .container
    - if @category.present?
      .selected-brand-wrap
        .order
          1
        = link_to @category.name, categories_path

    .selection-wrap
      .select-title
        .order
          2
        ブランドを選択
      %ul
        - @brands.each do |brand|
          %li
            = link_to brand.name, cosmetics_path(category: @category.slug, brand: brand.slug)
