.brands-index-wrap
  .container
    .selection-wrap
      .select-title
        ブランドを選択
      %ul
        - @brands.each do |brand|
          %li
            = link_to brand.name, cosmetics_path(category: @category.slug, brand: brand.slug)
