.categories-index-wrap
  .container
    .selection-wrap
      .select-title
        カテゴリを選択
      %ul
        - @categories.each do |category|
          %li
            = link_to category.name, brands_path(category.slug)
