.cosmetics-index-wrap
  .search-form-wrap
    .container
      .search-form
        = search_form_for @search do |f|
          = f.text_field :name_or_brand_name_cont, placeholder: "商品・ブランド名を入力", class: 'search-field'
          = f.submit "検索", class: 'search-submit'

    - if @cosmetics.present?
      .selection-wrap
        %ul
          - @cosmetics.each do |cosmetic|
            %li
              = link_to cosmetic.name, cosmetic_path(id: cosmetic.id)
