.cosmetics-index-wrap
  .container
    .selection-wrap
      - if @cosmetics.present?
        .select-title
          商品を選択
        %ul
          - @cosmetics.each do |cosmetic|
            %li
              = link_to cosmetic.name, cosmetic_path(id: cosmetic.id)
      - else
        %h2
          お探しの商品はありません。
