.cosmetics-index-wrap
  .container
    - if @cosmetics.present?
      .selection-wrap
        %ul
          - @cosmetics.each do |cosmetic|
            %li
              = link_to cosmetic.name, cosmetic_path(id: cosmetic.id)
